@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    //$(document).ready(function () {
    //    sendRequest();
    //    function sendRequest() {
    //        $.ajax({
    //            url: "/Home/SettingsOfMemoryCache",
    //            success:
    //                function (data) {

    //                },
    //            complete: function () {
    //                // Schedule the next request when the current one's complete
    //                setInterval(sendRequest, 120000); // The interval set to 5 seconds
    //            }
    //        });
    //    };
    //});

</script>