@model List<String>


<img src="~/Images/v546batch3-mynt-34-badgewatercolor.jpg" style="position: relative; width:100%; height:100%; " />
<div style="margin-top:-750px; position:absolute; margin-left: 850px;">
    <h3 class="h3" style=" margin-top: -164px; margin-left: -200px; "> All Keys</h3>
    @*<div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4" style="position:absolute">
                <div class="card mb-4 shadow-sm">

                    <div class="card-body">
                        <h3 class="card-title">@item</h3>
                    </div>
                </div>
            </div>
        }
    </div>*@
   
</div>

