<link href="~/css/showAllKey.css" rel="stylesheet" />
<div>
    <h3 class="h3"> All Keys</h3>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        @item
                    </div>
                </div>
            </div>
        }
    </div>
</div>
