<link href="~/css/showImg.css" rel="stylesheet" />

<input type="text" placeholder="Enter the key" name="key" id="keyInput">
<button type="submit" class="submit">Enter</button>
<div class="cont">
    <img id="img" />
</div>



<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(".submit").on("click", function () {
        var id = $("#keyInput").val();
        $.ajax({
            type: "Post",
            data: { key: id },
            url: '/Home/ShowImage',
            success: function (result) {
                if (result == null) {
                    $('#img').attr('src', "");
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Key not found',
                        footer: 'No Image found'
                    })
                }
                else
                    $('#img').attr('src', result);
            }
            //  fail:
        }).done(function (res) {

        });

    });
</script>

